@import "variables";

*{
    scrollbar-width: thin;          
    scrollbar-color: $bg3-color $bg-color;

    ::-webkit-scrollbar {
        width: 8px;
    }
    
    ::-webkit-scrollbar-track {
        background: $bg-color;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $bg3-color;
        border-radius: 30px;
    }

    ::-webkit-scrollbar-corner {
        background: $bg-color;
    }

}