@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$bg-color: #201b2c;
$bg2-color: #2f2841;
$bg3-color: #514869;
$green-one-color: #77ffc0;
$green-two-color: #00ff88;
$white-color: white;
$gray-color: #f0ffff94;
$purple-color: #2b134b;
$aqua-color: aqua;
$red-color: #ed3c57;